NODE_ENV=development

# Enable if running in devcontainers or docker-compose
REDIS_HOST=hof-redis

#Gov.uk Notify
#NOTIFY_KEY=
#CASEWORKER_EMAIL=
#BUSINESS_CONFIRMATION_TEMPLATE_ID=
#EMAIL_REPLY_TO_ID=

#SESSION_SECRET=

# Prevent all pages from being indexed by search engines
DISALLOW_INDEXING="true"
