{{<partials-page}}
  {{$page-content}}
    <p class="govuk-body">{{#t}}pages.update-details-before-reporting.update-your-ukvi-account-details{{/t}}</p>
    <p class="govuk-body">{{#t}}pages.update-details-before-reporting.service-info{{/t}}</p>
    <p class="govuk-body">{{#t}}pages.update-details-before-reporting.get-help{{/t}}</p>
    <h2 class="govuk-heading-m">{{#t}}pages.update-details-before-reporting.header2{{/t}}</h2>

    <p class="govuk-body">{{#t}}pages.update-details-before-reporting.continue-report-error{{/t}}</p>
    <div class="govuk-button-group">
      {{#input-submit}}continue-to-report-an-error{{/input-submit}}
      {{#t}}pages.prove-status-before-reporting.finish-and-return{{/t}}
    </div>
  {{/page-content}}
{{/partials-page}}
